.articleContainer {
    width: 75%;
    margin: 3% auto;
    min-height: 56.2vh;
}
.articleTitle {
    color: rgb(47, 154, 216);
    padding: 5px 0;
    font-weight: 500;
    font-size: 40px;
    margin-left: 5px;
    hyphens: auto;
}
.articleDescription {
    font-size: 17px;
    text-indent: 20px;
    font-style: italic;
}
.articleAuthor {
    font-weight: bold;
    font-size: 22px;
}
.articleContent {
    text-indent: 25px;
    font-size: 18px;
    hyphens: auto;
}