/* Estilos CSS para o corpo do footer */
.footerBody {
    display: flex;
    background-color: #029adb;
    position: absolute;
    width: 100%;
    height: 200px; /* Defina a altura do footer conforme necess치rio */
    margin-top: auto; /* Isso empurra o footer para o final da p치gina */
}

.footerWrapper {
    height: 100%;
    color: rgb(236, 234, 234);
    display: flex;
    width: 40%;
    margin: auto;
    font-size: large;
    justify-content: space-around;
}
.footerWrapper ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
.footerWrapper svg {
    vertical-align: middle;
    margin-right: 5px;
    height: 23px;
    width: 23px;
}
.footerWrapper h2 {
    margin-bottom: 10px;
    list-style: none;
}
@media screen and (max-width: 600px) {
    .footerWrapper {
        margin: 0 10px;
    }
    .footerBody {
        height: fit-content; /* Defina a altura do footer conforme necess치rio */
        margin-top: auto; /* Isso empurra o footer para o final da p치gina */
    }
}