@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.headerBody {
    background-color: #00A7F1;
    width: 100%;
    position: relative;
    margin-top: 0;
    height: 6rem;
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.2);
}
.postContainer {
    position: absolute;
    top: 50%; /* Coloca a lista na metade da altura do cabeçalho */
    transform: translateY(-50%); /* Move a lista para trás em 50% da sua própria altura */
    display: inline-flex;
    width: 67%;
    justify-content: right;
}
.acessibilidadeBtn {
    width: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 20px;
    transform: translateY(-50%);
    height: 25px;
    border: 0;
    font-size: 25px;
    padding: 0;
    border-radius: 50%;
}
.altoContraste {
    background-color: black;
    color: white;
    
  }
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .modal {
    background-color: white;
    padding: 20px;
    width: 50%;
    min-height: 70%;
    border-radius: 5px;
    position: relative;
  }
.postBtn {
    border: 1px solid rgb(224, 232, 247);
    border-radius: 40px;
    color: #00A7F1;
    font-size: 21px;
    padding: 8px;
    background-color: white;
    transition: 0.2s;
}
.postBtn:hover {
    color: #00A7F1;
    font-size: 20px;
    padding: 12px;
    background-color: white;
}
.closeModal {
    border: 0;
    font-size: 16px;
    display: inline;
    position: absolute;
    right: 2%;
    top: 3.5%;
    padding: 7px 10px;
    border-radius: 5px;
}
.closeModal:hover {
    filter: brightness(0.95);
}
.headerUl {
    top: 50%; /* Coloca a lista na metade da altura do cabeçalho */
    transform: translateY(-50%); /* Move a lista para trás em 50% da sua própria altura */
    margin: 0;
    position: absolute;
    display: inline-flex;
    list-style: none;
    width: 40%;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Fira Sans Condensed', sans-serif;
    justify-content: space-around;
    z-index: 2;
}
.headerUl li:hover{
    color: #ffec97;
}
.headerUl a{
    color: aliceblue;
    z-index: 10;
}
.headerUl a:hover{
    color: #FFE897;
}
.searchContainer{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: end;
    right: 5%;
  }
.search {
    border: 0;
    height: 2.2rem;
    border-radius: 50px;
    width: 20rem;
    position: relative;

}
.search::placeholder {
    font-family: monospace;
    padding-left: 10px;
    color: rgb(212, 208, 208); 
}
.searchButton {
    cursor: pointer;
    position: absolute;
    background-color: #FFE897;
    border: 0;
    border-left: 1px solid rgb(197, 197, 197);
    height: 100%;
    border-radius: 0 20px 20px 0;
    width: 13%;
}
.ilhaLogo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 10rem;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  }
