.textArea {
    min-height: 400px; /* Defina a altura desejada aqui */
    width: 95%;
    display: block;
    margin: 1rem auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical; /* Permite redimensionamento vertical */
    padding: 10px;
}
.title {
    display: inline;
    font-size: 38px;
    color: rgb(47, 154, 216);
}
.publicarBtn {
    border: 0;
    font-size: 18px;
    padding: 5px;
    width: 15rem;
    background-color: rgb(47, 154, 216);
    color: white;
    border-radius: 8px;
}
.publicarBtn:hover {
    filter: brightness(0.95);
}