.textArea {
    min-height: 400px;
    width: 80%;
    display: block;
    padding: 15px;
    border-radius: 20px;
    margin: 20px auto;
    resize: vertical;
}
.title {
    display: inline;
    font-size: 38px;
    color: rgb(47, 154, 216);
}
.publicarBtn {
    cursor: pointer;
    border: 0;
    font-size: 18px;
    padding: 5px;
    width: 15rem;
    background-color: rgb(47, 154, 216);
    color: white;
    border-radius: 8px;
    margin-left: 8%;
}
.publicarBtn:hover {
    filter: brightness(0.95);
}
.novoProjeto {
    border: 0;
    font-size: 18px;

    padding: 5px;
    width: 15rem;
    background-color: rgb(47, 154, 216);
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}